.header header {
    background: #202024;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header h2{
    padding: 10px;
}
.header header input {
    background-color: #121214;
    cursor: pointer;
    width: 200px;
    height: 40px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid rgb(132, 0, 255);
}
.header header input{
    padding-left: 30px;
    color: #ffff;
}
.header header img {
    width: 60px;
    border-radius: 50px;
    border: 2px solid rgb(132, 0, 255);
}
.header header .perfil{
    display: flex;
}
.perfil span{
    padding: 10px;
}

/*************************************************************************************************/
.main {
    width: 100%;
    align-items: center;
}
/*************************************************************************************************/
.nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    background-color: #121214;
}
.nav a{
    margin: 5px;
    font-size: 1.5rem;
    width: 300px;
}

a:hover{
    border-radius: 5px;
    color:rgb(156, 120, 255);
}

/*************************************************************************************************/
.content {
    width: 100%;
    height: auto;
  
}

/*************************************************************************************************/
.footer {
    margin-top: 15px;
    background-color: #121214;
    width: 100%;
}
p{
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}
ul li{
    list-style: none;
    margin: 15px;
}
a{
    color:rgba(172, 161, 161, 0.829);
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


@media (max-width: 768px) {
    .header header{
        display: block;
        text-align: center;
        justify-content: center;
    }
    .header h2{
        padding: 10px;
        font-size: 2rem;
    }
    .header header .perfil{
        width: 100%;
        margin-right: 50px;
        text-align: right;
        justify-content: right;
    }
    .nav{
        width: 100%;
    }
    .nav ul{
        background-color: red;
        width: 50%;
        display: flex;
        justify-content: space-around;
    }
    .content {
        width: 100%;
    }
}