.header header {
    background: #202024;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header h2{
    padding: 10px;
}
.header header input {
    background-color: #121214;
    cursor: pointer;
    width: 200px;
    height: 40px;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid rgb(132, 0, 255);
}
.header header input{
    padding-left: 30px;
    color: #ffff;
}
.header header img {
    width: 60px;
    border-radius: 50px;
    border: 2px solid rgb(132, 0, 255);
}
.header header .perfil{
    display: flex;
}
.perfil span{
    padding: 10px;
}

/*************************************************************************************************/
.main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}
/*************************************************************************************************/
.nav {
    background-color: #121214;
    justify-content: left;
    text-align: left;
    width: 20%;

}
/*************************************************************************************************/
.content {
    width: 80%;
}

/*************************************************************************************************/
.footer {
    background-color: #121214;
    width: 100%;
}